.container{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    background-color: red;
}

.containerbottom{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: red;
}

h1{
    text-align: center;
}

button{
    height: 30px;
}

#mieinumeri, #numeripc{
    margin: 100px;
    width: 20%;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: blue;
}

#parita{
    margin-top: 180px;
}