.container{
    width: 30%;
    height: 100px;
    margin: auto;
    text-align: center;
    background-color: red;
}

#text, #miobottone{
    line-height: 25px;
    margin: 10px;
}

#uscita{
    font-size: 20px;
}